body {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(0, 103, 171, 0.557);
}

.app {
  margin: 50px;
  padding: 10px 0px 30px 0px;
  width: 300px;
  min-height: 400px;
  border-radius: 5px;
  background-color: rgb(40, 40, 70);
  font-family: "Ubuntu", "Trebuchet MS", sans-serif;
}
.app h1 {
  margin-bottom: 30px;
  color: rgb(146, 146, 174);
  font-size: 25px;
}

.toDo-form {
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.toDo-form__container {
  padding: 5px 10px 5px 15px;
  border-radius: 50px;
  background-color: rgb(26, 26, 45);
}
.toDo-input {
  height: 40px;
  font-size: 15px;
  padding-left: 10px;
  background-color: rgb(26, 26, 45);
  outline: none;
}
.toDo-button {
  position: relative;
  top: 2px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  border-radius: 50%;
  background-color: rgba(10, 150, 225, 0.539);
}
.toDo-button:hover {
  background-color: rgba(6, 98, 148, 0.539);
}
.toDo-input,
.toDo-button {
  border: 0px;
  color: white;
}

.toDo-list {
  padding: 0px;
  width: 100%;
}
h2 {
  font-size: 17px;
  color: rgb(146, 146, 174);
  margin: 0px 0px 20px 35px;
  text-align: left;
}

.toDo {
  margin: 8px;
  position: relative;
  left: -15px;
  padding: 15px 40px;
  font-size: 15px;
  text-align: left;
  list-style-type: none;
  border-radius: 10px;
  background-color: rgb(68, 68, 106);
}
.toDo:hover {
  background-color: rgba(68, 68, 106, 0.534);
}
